body {
  text-align: center;
}

.start {
  width: 70px;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40vw;
  width: 40vw;
  max-height: 150px;
  max-width: 150px;
  margin: 2rem;
  border-radius: 20%;
  border: 5px solid black;
}

.red {
  background-color: rgba(198, 68, 68, 0.849);
}

.yellow {
  background-color: rgb(255, 191, 0);
}

.green {
  background-color: rgb(69, 180, 236);
}

.purple {
  background-color: rgb(132, 97, 214);
}

.gameflash {
  background-color: white;
}

.userflash {
  background-color: green;
}

.hidden {
  display: none;
}


@media (max-width: 480px) {
  .btn {
    height: 35vw;
    width: 35vw;
  }

  h2 {
    font-size: 7vw;
  }
}